body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

*, html {

    scroll-behavior: smooth !important;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 3s;
}

@font-face {
    font-family: roobert;
    src: url(font/Roobert-Regular.otf);
  }

  @font-face {
    font-family: roobert-light;
    src: url(font/Roobert-Light.otf);
  }

* {
    font-family: roobert;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  /* On load page */

  #load-page {
position: fixed;
width: 100%;
height: 100%;
background-color: black;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: normal;
z-index: 99999999;
display: none;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.8s;
  }
  @keyframes lds-ripple {
    0% {
      top: 100px;
      left: 100px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 100px;
      left: 100px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 100px;
      left: 100px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
    /* End On load page */

  #content-area {
  height: 100vh;
  }

section {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    background-color: #CFCECA;
    transition: filter 2s;

}



#content-section-home {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    overflow: auto;
    display: flex;
    position: relative;
}

#content-section-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-gradient-right {
    width: 40vw;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(80,80, 80, 0.7) 100%); 
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    position: absolute;
    transition: opacity 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}

.home-gradient-top {
    width: 100vw;
    height: 25%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); 
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}

.gradient-bottom-scroll {
    width: 50vw;
    height: 200px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0, 0.5) 100%);
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
    transition: opacity 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
    z-index: 1;
}



.content-text-intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: baseline; */
    overflow-y: auto;
    height: 100%;
    text-align: right;
    padding-right: 80px;
    padding-left: 10vw;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 70px;
    }
    
    .content-text-intro p {
        color: white;
    
    }
    
    .content-text-intro hr {
        background-image: linear-gradient(90deg, transparent, white);
        border: 0;
        height: 1px;
    }

    .content-text-left {
        width: 45vw;
        padding-left: 80px;
        margin-top: 10%;
        padding-right: 5vw;
    }

    .content-text-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* align-items: flex-start; */
        overflow-y: auto;
        height: 100vh;
        text-align: right;
        position: relative;
        padding-right: 80px;
        padding-left: 5vw;
        box-sizing: border-box;
        bottom: 70px;
    }

    .content-text-right-scroll {
        padding-top: 10%;
        padding-bottom: 80px;
        width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        height: 100vh;
        text-align: left;
        position: relative;
        padding-right: 80px;
        padding-left: 1vw;
        box-sizing: border-box;        
    }

    .content-text-right .light-text{
        text-align: justify;
    }

    .content-text-left p {
        font-size: 2.4vmax;
    }
 

    .arrow-section-intro, .arrow-section, .arrow-section-text  {
        animation: bounce 2s ease infinite;
        font-size: 3.1vmax;
        margin-top: 40px;
        animation-delay: 5s;
      }

      @keyframes bounce {
          0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
          40% {transform: translateY(-30px);}
          60% {transform: translateY(-15px);}
      }
    
    .arrow-section-intro {
        color: white;
        }

    .arrow-section, .arrow-section-text {
        color: black;
    }

.content-container {
    display: flex;
    width: 100%;
    position: relative;
}

.content-image {
    width: 50%;
    height: 100vh;
    background-color: #c6c3b7;
    overflow: hidden;
}

/* Logo tab */

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: calc(60vh);
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: black;
}

/* End of logo tab */


.content-image img, .content-image-scroll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-service-SHM, .logo-service-NDT, .logo-service-Mseis {
    background-size: cover;
    width: 17vw;
    background-color: rgba(46, 40, 34,0.95);
    border-radius: 20px 0 0 20px;
    height: calc(17vw/2.186);
    position: absolute;
    right: 0;
    bottom: 100px;
    z-index: 2;
}

.logo-service-NDT {
    background-image: url(images/NDT_white.png);
    }

 .logo-service-SHM {
        background-image: url(images/SHM_white.png);
        }

 .logo-service-Mseis {
            background-image: url(images/Mseis_white.png);
            }


.content-image-overview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-start; */
    overflow-y: auto;
    height: 100vh;
    text-align: right;
    position: relative;
    padding-right: 80px;
    padding-left: 10vw;
    box-sizing: border-box; 
    bottom: 70px;
}

.content-text-scroll {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    overflow-y: auto;
    height: 100vh;
    text-align: left;
    padding-top: 10%;  /* à vérifier */
    padding-right: 60vw;
    padding-left: 80px;
    padding-bottom: 80px;
    box-sizing: border-box; 
    z-index: 1;
}

.content-image-scroll {
    width: 50%;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #c6c3b7;
    overflow: hidden;
}



.section-title {
    color: #347125;
    font-size: 1.3vmax;
    width: 100%;
}

.bold-text {
     font-size: 2.4vmax;
}

.light-text {
   font-size: 1vmax;
   font-family: roobert-light;
}

.light-text-sub {
    font-size: 1vmax;
    font-family: roobert-light;
    color: #686666;
 }

.light-text-title {
    font-size: 1.2vmax;
    font-family: roobert;
    padding-top: 0.5vh;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px); */
    transition: backdrop-filter 800ms;
    transition-timing-function: ease-in-out;
}




/* nav:hover #nav-bg {
    height: 200px;
} */

#nav-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    transition: opacity 800ms;
     background-color: rgba(0,0,0,0.85);
    transition-timing-function: ease-in-out;
    z-index: -1;
    opacity: 0;

}

.logo {
    opacity: 1;
    background-image: url(images/logotype.png);
    position: fixed;
    left: 16px;
    background-position: left;
    top: 10px;
    background-size: cover;
    width: 280px;
    height: 80px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 800ms;

}



#left-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 20px;
    transition: margin-top 800ms;
}



#button:not(.menu-button) {
    /* width: calc(50vw/7); */
    padding-left: 40px;
}

#button, .dropdown {
    color: #fff;
    text-decoration: none;
    margin: 0;
    position: relative;
    text-align: center;
    font-size: 19px;
}



.menu-button {
    border: solid white 1px;
    border-radius: 20px;
    padding: 5px 12px 5px 12px;
    margin-left: 35px!important;

}
  






.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .dropdown-content {
    display: block;
    opacity: 0;
    position: absolute;
    color: #ffffff;
    z-index: 1;
    text-align: center;
    transition: opacity 500ms;
    transition-timing-function: ease-in-out;
    margin-top: 15px;
    padding-bottom: 5px;
    background-color: rgba(46, 40, 34,0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    /* backdrop-filter: blur(8px); */
    cursor: pointer;
    width: 180px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .dropdown-content hr {
    border-top: 1px solid rgba(255, 255, 240, 0.656);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    margin: 6px 7px 2px 7px;
  }
  
  .dropdown:hover .dropdown-content {
    opacity: 1;
  }

  .dropdown-content p {
    font-family: roobert-light;
    color: whitesmoke;
    font-size: 15px;
  }

 

  .dropdown-content p:hover {
    color: #438931;
    transition: color 200ms;
  }

  .dropdown a:hover, #left-menu a:hover {
    color: #438931;
    transition: color 400ms;
  }



/*Mobile menu*/

.menu-icon {
    display: none;
    cursor: pointer;
    z-index: 1001;
    justify-content: flex-end;
    width: inherit;
}

.burger-wrapper {
    cursor: pointer;
    margin-top: 8px;
    margin-right: 6vw;
    width: 40px;
    height: 40px;
}
.burger-wrapper .hamburger {
    background: white;
    width: 40px;
    height: 1.5px;
    position: relative;
    transition: background 10ms 300ms ease;
    transform: translateY(20px);
}
.burger-wrapper .hamburger:before, .burger-wrapper .hamburger:after {
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    position: absolute;
    background: white;
    width: 40px;
    height: 1.5px;
    content: '';
}
.burger-wrapper .hamburger:before {
    top: -10px;
}
.burger-wrapper .hamburger:after {
    top: 10px;
}
.menu-trigger:checked ~ .burger-wrapper .hamburger {
    background: transparent;
}
.menu-trigger:checked ~ .burger-wrapper .hamburger:after, .menu-trigger:checked ~ .burger-wrapper .hamburger:before {
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    top: 0;
}
.menu-trigger:checked ~ .burger-wrapper .hamburger:before {
    transform: rotate(45deg);
}
.menu-trigger:checked ~ .burger-wrapper .hamburger:after {
    transform: rotate(-45deg);
}
.hidden {
    display: none;
}




/* Styles pour les appareils mobiles */
@media only screen and (max-width: 600px) {
    #left-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 78px;
        right: -100vw;
        width: 50vw;
        height: calc(100vh - 78px);
        background: rgba(0,0,0,0.85);
        /* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 55%); */
        text-align: center;
        border-top: 1px solid #959292;
        padding: 10px 0px;
        transition: right 1s;
        transition-timing-function: ease-in-out;
        border-radius: 0% 0% 0% 20px;
        margin-right: 0px;
        align-items: end;
        margin-top: 0;
        
    }

    #button, .dropdown-content {
        padding-right: 6vw;
        padding-left: 6vw;
        padding-bottom: 8px;
        /* width: 100%; */
        text-align: right;
        box-sizing: border-box;
    }

    #left-menu {
        justify-content: start;
    }

    #button, .dropdown  {
        font-size: 3.3vh;
    }

    .dropdown-content p {
        font-size: 2.3vh;
        padding-top: 2px;
        padding-bottom: 3px;
    }

    .dropdown {
      
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        flex-direction: column;
    }

    .dropdown > * {
        width: 100%!important;
        box-sizing: border-box;
        margin-left: 0;
    }

    .menu-icon {
        display: flex;
    }

   
    .menu-button {
    margin-left: 0px!important;
    }

  

    .dropdown-content {
        margin-top: 0px;
        position: relative;
        opacity: 1;
        box-sizing: border-box;
        color: #a6a5a2;
    }

   
    .light-text {
        font-size: 1.6vmax;
    }

    .light-text-sub {
        font-size: 1.4vmax;
    }

    .light-text-title {
        font-size: 1.6vmax; 
    }

 

    #nav-bg {
        height: 78px;
    }

    .dropdown-content hr {
        margin: 2px 0 2px 0px;
    }

    .content-image-scroll {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        height: 50%;
        background-color: #c6c3b7;
        overflow: hidden;
        border-radius: 0 0 30px 30px;
        box-shadow: -1px 8px 5px -3px rgba(102,102,102,0.75);
    }

    .content-text-scroll {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
        overflow-y: auto;
        height: 100vh;
        text-align: left;
        padding-top: 55vh;
        padding-right: 6vw;
        padding-left: 6vw;
        /* margin-top: 50vh; */
        padding-bottom: 12vw;
        box-sizing: border-box;
        z-index: 1;
    }

    .gradient-bottom-scroll {
        width: 100vw;
        height: 60px;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0, 0.5) 100%);
        position: absolute;
        opacity: 1;
        bottom: 50%;
        right: 0;
        transition: opacity 300ms;
        transition-timing-function: ease-in-out;
        pointer-events: none;
        z-index: 2;
        border-radius: 0 0 30px 30px;
    }

    .section-title {
        font-size: 2.4vmax;
    }

    .logo-service-SHM, .logo-service-NDT, .logo-service-Mseis {
        background-size: cover;
        width: 35vw;
        background-color: rgba(46, 40, 34,0.95);
        border-radius: 10px 0 0 10px;
        height: calc(35vw/2.186);
        position: absolute;
        right: 0;
        bottom: 50px;
        z-index: 2;
    }

    .content-image {
        width: 100vw;
        height: calc(50% - 60px);
        padding-top: 78px;
        background-color: #c6c3b7;
        overflow: hidden;
        position: absolute;
        border-radius: 0 0 30px 30px;
        box-shadow: -1px 8px 5px -3px rgba(102,102,102,0.75);
    }

    .content-text {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        /* align-items: flex-start; */
        overflow-y: auto;
        /*  height: 100vh; à vérifier*/
        text-align: center;
        position: relative;
        padding-top: 55vh;
        padding-right: 6vw;
        padding-left: 6vw;
        box-sizing: border-box;
        bottom: 20px;
    }


    .arrow-section-intro, .arrow-section {
        animation: bounce 2s ease infinite;
        font-size: 7vmax;
        margin-top: 20px;
        animation-delay: 5s;
    }

    .arrow-section-text {
        animation: bounce 2s ease infinite;
        font-size: 7vmax;
        margin-top: 0px;
        animation-delay: 5s;
        margin-bottom: 3vw;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-20px);}
        60% {transform: translateY(-10px);}
    }

    .content-text-intro {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* align-items: baseline; */
        overflow-y: auto;
        height: 100vh;
        text-align: right;
        padding-right: 6vw;
        padding-left: 6vw;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        bottom: 20px;
    }

    .content-text-intro .light-text{
        display: none;
    }

    .content-text-intro .bold-text{
        font-size: 3.2vmax;
        font-family: 'roobert-light';
    }

    .home-gradient-right {
        width: 60vw;
        height: 100%;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(80,80, 80, 0.4) 100%);
    }


    .logo {
        opacity: 1;
        background-image: url(images/logotype.png);
        position: fixed;
        left: 3vw;
        background-position: left;
        top: 6px;
        background-size: cover;
        width: calc(280px * 0.85);
        height: calc(80px * 0.85);
        padding: 5px;
        box-sizing: border-box;
        transition: all 800ms;
    }

    .menu-button {
        border: 0;
    }

    .content-container-full-text {
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
    }

    .content-text-left {
        width: unset;
        padding-left: 6vw;
        margin-top: 120px;
        padding-right: 6vw;
    }

    .content-text-right {
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* align-items: flex-start; */
        overflow-y: auto;
        height: unset;
        text-align: right;
        position: unset;
        padding-right: 6vw;
        padding-left: 6vw;
        box-sizing: border-box;
        bottom: 0px;
    }

    .content-text-right .light-text {
        text-align: left;
    }

    section {
        align-items: unset;
    }

}



/* mobile landscape orientation */

#landscape-msg {
    display: none;
    font-size: 3.1vw;
    color: black;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
  }